<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230224905462-5frva6qk1a2i79q7105fjnakucb5qs17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230224905462-5frva6qk1a2i79q7105fjnakucb5qs17</string>
	<key>API_KEY</key>
	<string>AIzaSyAI1UbKnSHgxCEU8-xCB63paFbYQvJ7BEw</string>
	<key>GCM_SENDER_ID</key>
	<string>230224905462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astratech.ahmedsaeedtask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>astratechtask</string>
	<key>STORAGE_BUCKET</key>
	<string>astratechtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230224905462:ios:e69aea7705cca0ebd218d7</string>
</dict>
</plist>